Repository blitzy-public-samples/test-94ilr1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @email-service-team, @backend-leads, @security-team, @context-engine-team, @ml-leads, @response-generator-team, @api-team, @frontend-team, @ui-leads, @devops-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @platform-leads will be requested for
# review when someone opens a pull request.
*       @platform-leads

# Email Service Implementation
src/backend/email-service/**    @email-service-team @backend-leads @security-team

# Context Engine and ML Components
src/backend/context-engine/**    @context-engine-team @ml-leads @security-team

# Response Generation Service
src/backend/response-generator/**    @response-generator-team @ml-leads @security-team

# API Gateway Service
src/backend/api-gateway/**    @api-team @backend-leads @security-team

# Authentication Service
src/backend/auth-service/**    @security-team @backend-leads

# Frontend Application
src/web/**    @frontend-team @ui-leads @security-team

# Infrastructure Configuration
infrastructure/**    @devops-team @platform-leads @security-team

# Kubernetes Configuration
src/backend/k8s/**    @devops-team @platform-leads @security-team

# CI/CD Workflow Configuration
.github/workflows/**    @devops-team @platform-leads @security-team

# Shared Backend Code
src/backend/shared/**    @backend-leads @platform-leads @security-team

# Security Configuration
infrastructure/security/**    @security-team @platform-leads

# Monitoring Configuration
infrastructure/monitoring/**    @devops-team @platform-leads @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/waf.tf
  infrastructure/terraform/aws/waf.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/.env.example
  src/backend/.env.example
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/README.md
  src/backend/README.md
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/package.json
  src/backend/package.json
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/src/main.ts
  src/backend/api-gateway/src/main.ts
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/src/config/kong.config.ts
  src/backend/api-gateway/src/config/kong.config.ts
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/src/middleware/rate-limit.middleware.ts
  src/backend/api-gateway/src/middleware/rate-limit.middleware.ts
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/test/integration/gateway.test.ts
  src/backend/api-gateway/test/integration/gateway.test.ts
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/api-gateway/test/unit/middleware.test.ts
  src/backend/api-gateway/test/unit/middleware.test.ts
Owners: @api-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @security-team, @backend-leads
