Repository blitzy-public-samples/test-94ilr1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @email-service-team, @backend-leads, @security-team, @context-engine-team, @ml-leads, @response-generator-team, @api-team, @frontend-team, @ui-leads, @devops-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @platform-leads will be requested for
# review when someone opens a pull request.
*       @platform-leads

# Email Service Implementation
src/backend/email-service/**    @email-service-team @backend-leads @security-team

# Context Engine and ML Components
src/backend/context-engine/**    @context-engine-team @ml-leads @security-team

# Response Generation Service
src/backend/response-generator/**    @response-generator-team @ml-leads @security-team

# API Gateway Service
src/backend/api-gateway/**    @api-team @backend-leads @security-team

# Authentication Service
src/backend/auth-service/**    @security-team @backend-leads

# Frontend Application
src/web/**    @frontend-team @ui-leads @security-team

# Infrastructure Configuration
infrastructure/**    @devops-team @platform-leads @security-team

# Kubernetes Configuration
src/backend/k8s/**    @devops-team @platform-leads @security-team

# CI/CD Workflow Configuration
.github/workflows/**    @devops-team @platform-leads @security-team

# Shared Backend Code
src/backend/shared/**    @backend-leads @platform-leads @security-team

# Security Configuration
infrastructure/security/**    @security-team @platform-leads

# Monitoring Configuration
infrastructure/monitoring/**    @devops-team @platform-leads @security-team

Add public-samples/test-94ilr1/src/backend/k8s/auth-service.yaml
  src/backend/k8s/auth-service.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/configmap.yaml
  src/backend/k8s/configmap.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/context-engine.yaml
  src/backend/k8s/context-engine.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/email-service.yaml
  src/backend/k8s/email-service.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/mongodb.yaml
  src/backend/k8s/mongodb.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/postgres.yaml
  src/backend/k8s/postgres.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/redis.yaml
  src/backend/k8s/redis.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/response-generator.yaml
  src/backend/k8s/response-generator.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/Dockerfile
  src/backend/response-generator/Dockerfile
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/poetry.lock
  src/backend/response-generator/poetry.lock
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/pyproject.toml
  src/backend/response-generator/pyproject.toml
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/src/main.py
  src/backend/response-generator/src/main.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/src/api/routes.py
  src/backend/response-generator/src/api/routes.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/src/config/settings.py
  src/backend/response-generator/src/config/settings.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/src/models/response.py
  src/backend/response-generator/src/models/response.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/src/services/generator.py
  src/backend/response-generator/src/services/generator.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/src/services/template_manager.py
  src/backend/response-generator/src/services/template_manager.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/src/utils/ai_processor.py
  src/backend/response-generator/src/utils/ai_processor.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/tests/integration/generator_test.py
  src/backend/response-generator/tests/integration/generator_test.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/response-generator/tests/unit/template_test.py
  src/backend/response-generator/tests/unit/template_test.py
Owners: @response-generator-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/scripts/build.sh
  src/backend/scripts/build.sh
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/scripts/proto-gen.sh
  src/backend/scripts/proto-gen.sh
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/shared/models/context.ts
  src/backend/shared/models/context.ts
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/shared/models/email.ts
  src/backend/shared/models/email.ts
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/shared/models/response.ts
  src/backend/shared/models/response.ts
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/shared/proto/context.proto
  src/backend/shared/proto/context.proto
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/shared/proto/email.proto
  src/backend/shared/proto/email.proto
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/shared/proto/response.proto
  src/backend/shared/proto/response.proto
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/shared/utils/logger.ts
  src/backend/shared/utils/logger.ts
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/shared/utils/metrics.ts
  src/backend/shared/utils/metrics.ts
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/backend/shared/utils/tracing.ts
  src/backend/shared/utils/tracing.ts
Owners: @backend-leads, @platform-leads, @security-team

Add public-samples/test-94ilr1/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/test-94ilr1/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/test-94ilr1/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/test-94ilr1/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/test-94ilr1/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @ui-leads, @security-team
