Repository blitzy-public-samples/test-94ilr1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @email-service-team, @backend-leads, @security-team, @context-engine-team, @ml-leads, @response-generator-team, @api-team, @frontend-team, @ui-leads, @devops-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @platform-leads will be requested for
# review when someone opens a pull request.
*       @platform-leads

# Email Service Implementation
src/backend/email-service/**    @email-service-team @backend-leads @security-team

# Context Engine and ML Components
src/backend/context-engine/**    @context-engine-team @ml-leads @security-team

# Response Generation Service
src/backend/response-generator/**    @response-generator-team @ml-leads @security-team

# API Gateway Service
src/backend/api-gateway/**    @api-team @backend-leads @security-team

# Authentication Service
src/backend/auth-service/**    @security-team @backend-leads

# Frontend Application
src/web/**    @frontend-team @ui-leads @security-team

# Infrastructure Configuration
infrastructure/**    @devops-team @platform-leads @security-team

# Kubernetes Configuration
src/backend/k8s/**    @devops-team @platform-leads @security-team

# CI/CD Workflow Configuration
.github/workflows/**    @devops-team @platform-leads @security-team

# Shared Backend Code
src/backend/shared/**    @backend-leads @platform-leads @security-team

# Security Configuration
infrastructure/security/**    @security-team @platform-leads

# Monitoring Configuration
infrastructure/monitoring/**    @devops-team @platform-leads @security-team

Add public-samples/test-94ilr1/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/auth-service/src/main.ts
  src/backend/auth-service/src/main.ts
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/auth-service/src/config/auth0.config.ts
  src/backend/auth-service/src/config/auth0.config.ts
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/auth-service/src/middleware/jwt.middleware.ts
  src/backend/auth-service/src/middleware/jwt.middleware.ts
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/auth-service/test/integration/auth.test.ts
  src/backend/auth-service/test/integration/auth.test.ts
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/auth-service/test/unit/jwt.test.ts
  src/backend/auth-service/test/unit/jwt.test.ts
Owners: @security-team, @backend-leads

Add public-samples/test-94ilr1/src/backend/context-engine/Dockerfile
  src/backend/context-engine/Dockerfile
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/poetry.lock
  src/backend/context-engine/poetry.lock
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/pyproject.toml
  src/backend/context-engine/pyproject.toml
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/src/main.py
  src/backend/context-engine/src/main.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/src/api/routes.py
  src/backend/context-engine/src/api/routes.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/src/config/settings.py
  src/backend/context-engine/src/config/settings.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/src/models/context.py
  src/backend/context-engine/src/models/context.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/src/services/analyzer.py
  src/backend/context-engine/src/services/analyzer.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/src/services/nlp_processor.py
  src/backend/context-engine/src/services/nlp_processor.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/src/utils/text_processor.py
  src/backend/context-engine/src/utils/text_processor.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/tests/integration/context_test.py
  src/backend/context-engine/tests/integration/context_test.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/context-engine/tests/unit/analyzer_test.py
  src/backend/context-engine/tests/unit/analyzer_test.py
Owners: @context-engine-team, @ml-leads, @security-team

Add public-samples/test-94ilr1/src/backend/docs/api-spec.md
  src/backend/docs/api-spec.md
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/docs/architecture.md
  src/backend/docs/architecture.md
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/docs/deployment.md
  src/backend/docs/deployment.md
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/docs/development.md
  src/backend/docs/development.md
Owners: @platform-leads

Add public-samples/test-94ilr1/src/backend/email-service/Dockerfile
  src/backend/email-service/Dockerfile
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/go.mod
  src/backend/email-service/go.mod
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/go.sum
  src/backend/email-service/go.sum
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/main.go
  src/backend/email-service/main.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/cmd/server/server.go
  src/backend/email-service/cmd/server/server.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/internal/config/config.go
  src/backend/email-service/internal/config/config.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/internal/handlers/email.go
  src/backend/email-service/internal/handlers/email.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/internal/models/email.go
  src/backend/email-service/internal/models/email.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/internal/repositories/email_repo.go
  src/backend/email-service/internal/repositories/email_repo.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/internal/services/email_service.go
  src/backend/email-service/internal/services/email_service.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/pkg/gmail/client.go
  src/backend/email-service/pkg/gmail/client.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/pkg/outlook/client.go
  src/backend/email-service/pkg/outlook/client.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/test/integration/email_test.go
  src/backend/email-service/test/integration/email_test.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/email-service/test/unit/handlers_test.go
  src/backend/email-service/test/unit/handlers_test.go
Owners: @email-service-team, @backend-leads, @security-team

Add public-samples/test-94ilr1/src/backend/k8s/api-gateway.yaml
  src/backend/k8s/api-gateway.yaml
Owners: @devops-team, @platform-leads, @security-team
