Repository blitzy-public-samples/test-94ilr1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @email-service-team, @backend-leads, @security-team, @context-engine-team, @ml-leads, @response-generator-team, @api-team, @frontend-team, @ui-leads, @devops-team

Add public-samples/test-94ilr1/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @platform-leads

Add public-samples/test-94ilr1/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @platform-leads

Add public-samples/test-94ilr1/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @platform-leads

Add public-samples/test-94ilr1/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/.github/workflows/frontend.yml
  .github/workflows/frontend.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/.github/workflows/infrastructure.yml
  .github/workflows/infrastructure.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @platform-leads

Add public-samples/test-94ilr1/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @platform-leads

Add public-samples/test-94ilr1/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @platform-leads

Add public-samples/test-94ilr1/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @platform-leads

Add public-samples/test-94ilr1/infrastructure/monitoring/elk/elasticsearch.yml
  infrastructure/monitoring/elk/elasticsearch.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/elk/kibana.yml
  infrastructure/monitoring/elk/kibana.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/elk/logstash.conf
  infrastructure/monitoring/elk/logstash.conf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/grafana/dashboards/context-engine.json
  infrastructure/monitoring/grafana/dashboards/context-engine.json
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/grafana/dashboards/email-service.json
  infrastructure/monitoring/grafana/dashboards/email-service.json
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/grafana/dashboards/infrastructure.json
  infrastructure/monitoring/grafana/dashboards/infrastructure.json
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/grafana/dashboards/response-generator.json
  infrastructure/monitoring/grafana/dashboards/response-generator.json
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/jaeger/jaeger.yml
  infrastructure/monitoring/jaeger/jaeger.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/scripts/apply-terraform.sh
  infrastructure/scripts/apply-terraform.sh
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/scripts/backup-databases.sh
  infrastructure/scripts/backup-databases.sh
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/scripts/destroy-terraform.sh
  infrastructure/scripts/destroy-terraform.sh
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/scripts/init-terraform.sh
  infrastructure/scripts/init-terraform.sh
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/scripts/rotate-keys.sh
  infrastructure/scripts/rotate-keys.sh
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/security/audit-policies.yml
  infrastructure/security/audit-policies.yml
Owners: @security-team, @platform-leads

Add public-samples/test-94ilr1/infrastructure/security/encryption-config.yml
  infrastructure/security/encryption-config.yml
Owners: @security-team, @platform-leads

Add public-samples/test-94ilr1/infrastructure/security/network-policies.yml
  infrastructure/security/network-policies.yml
Owners: @security-team, @platform-leads

Add public-samples/test-94ilr1/infrastructure/security/waf-rules.json
  infrastructure/security/waf-rules.json
Owners: @security-team, @platform-leads

Add public-samples/test-94ilr1/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/documentdb.tf
  infrastructure/terraform/aws/documentdb.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-94ilr1/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @devops-team, @platform-leads, @security-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @platform-leads will be requested for
# review when someone opens a pull request.
*       @platform-leads

# Email Service Implementation
src/backend/email-service/**    @email-service-team @backend-leads @security-team

# Context Engine and ML Components
src/backend/context-engine/**    @context-engine-team @ml-leads @security-team

# Response Generation Service
src/backend/response-generator/**    @response-generator-team @ml-leads @security-team

# API Gateway Service
src/backend/api-gateway/**    @api-team @backend-leads @security-team

# Authentication Service
src/backend/auth-service/**    @security-team @backend-leads

# Frontend Application
src/web/**    @frontend-team @ui-leads @security-team

# Infrastructure Configuration
infrastructure/**    @devops-team @platform-leads @security-team

# Kubernetes Configuration
src/backend/k8s/**    @devops-team @platform-leads @security-team

# CI/CD Workflow Configuration
.github/workflows/**    @devops-team @platform-leads @security-team

# Shared Backend Code
src/backend/shared/**    @backend-leads @platform-leads @security-team

# Security Configuration
infrastructure/security/**    @security-team @platform-leads

# Monitoring Configuration
infrastructure/monitoring/**    @devops-team @platform-leads @security-team
